@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #084a92;
    color: white;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #084a92;
}
.content {
    padding: 20px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjust based on header and nav heights */
    padding: 50px; /* Unique padding for centering */
}
.results-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
form {
    background-color: #f2f2f2;
    padding: 30px;
    height: 400px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 10px;
}
select, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
/* footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
} */
footer {
    background-color: #084a92;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 1rem;
    bottom: 1px;
    width: 98.7%;
}

/* cards.css */

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border: 2px solid #007BFF; /* Add a blue color border */
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s; /* Add transition for the box-shadow property */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px #007BFF; /* Change box-shadow on hover for shine effect */
}

.card a {
    text-decoration: none;
    color: #333;
}

.card-icon {
    font-size: 48px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 18px;
}